:root{
    font-size: 10px;
    --clr-bg-1 : #1B1C37;
    --clr-bg-2 : #000000;
    --clr-white : white;
    --clr-black : black;
    --txt-alin :center ;
    --txt-decor : none ; 
    --align-itms :center ;
    --dsp-flex : flex; 
    --dsp-grid : grid;
    --lst-style : none;
    --clr-chart : #7579FF;
}
body,html {
    margin :0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
}

header {
    background-color: var(--clr-bg-1);
    display: var(--dsp-flex);
    position: fixed;
    right: 0;
    left:0;
    top : 2rem;
    border-radius: 0.8rem;
    figure {
        margin : 0;
        padding: 1rem;
        img{
            width: 20px;
        }
    }
    a{
        text-decoration: var(--txt-decor);
        font-size: 1.5rem;
        font-weight: 300;
        color : var(--clr-white);
        padding: 1rem;
    }
    nav {
        ul {
            list-style : var(--lst-style);
            li{
                padding: 0.2rem;
                a{
                    color: var(--clr-white);
                    text-decoration: var(--txt-decor);
                    display: none;
                }
            }
        }
    }
    .burger{
        width: 2.5rem ;
        height: 2rem;
        display: var(--dsp-flex) ;
        flex-direction: column;
        align-items: flex-end;
        gap : 0.5rem;
        position : absolute;
        right: 3rem;
        top : 1.2rem;
        span:first-of-type{
            background-color: var(--clr-white);
            width: 100%;
            height: 4px;
            border-radius: 5px;
        }
        span:last-of-type{
            background-color: var(--clr-white);
            width: 60%;
            height: 4px ;
            border-radius: 5px;
        }
    }
}